<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            file-extensions="java"
            id="org.eclipsecon.editor.javaContentType"
            base-type="org.eclipse.core.runtime.text"
            name="Java"
            priority="normal">
      </content-type>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editorContentTypeBinding
            contentTypeId="org.eclipsecon.editor.javaContentType"
            editorId="org.eclipse.ui.genericeditor.GenericEditor">
      </editorContentTypeBinding>
   </extension>
   <extension
         point="org.eclipse.tm4e.registry.grammars">
      <grammar
            path="grammar/Java.plist"
            scopeName="source.java">
      </grammar>
      <scopeNameContentTypeBinding
            contentTypeId="org.eclipsecon.editor.javaContentType"
            scopeName="source.java">
      </scopeNameContentTypeBinding>
   </extension>
   <extension
         point="org.eclipse.ui.genericeditor.presentationReconcilers">
      <presentationReconciler
            class="org.eclipse.tm4e.ui.text.TMPresentationReconciler"
            contentType="org.eclipsecon.editor.javaContentType">
      </presentationReconciler>
   </extension>

</plugin>
